<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static/',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static/',filename='css/style2.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <header><h1>AgroMate</h1></header>
    <div class="tabla">
        <div class="fila">
            <div class="item"><p>Parameter</p></div>
            <div class="item"><p>Requirement</p></div>
            <div class="item"><p>Prediction</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Temperature</p></div>
            <div class="item"><p>{{Valor[0][0]}}</p></div>
            <div class="item"><p>{{Valor[0][1]}}</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Precipitation</p></div>
            <div class="item"><p>{{Valor[1][0]}}</p></div>
            <div class="item"><p>{{Valor[1][1]}}</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Wind</p></div>
            <div class="item"><p>{{Valor[2][0]}}</p></div>
            <div class="item"><p>{{Valor[2][1]}}</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Humidity</p></div>
            <div class="item"><p>{{Valor[3][0]}}</p></div>
            <div class="item"><p>{{Valor[3][1]}}</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Evapotranspiration</p></div>
            <div class="item"><p>{{Valor[4][0]}}</p></div>
            <div class="item"><p>{{Valor[4][1]}}</p></div>
        </div>
        <div class="fila">
            <div class="item"><p>Sun Radiation</p></div>
            <div class="item"><p>{{Valor[5][0]}}</p></div>
            <div class="item"><p>{{Valor[5][1]}}</p></div>
        </div>
    </div>
</body>
</html>